body {    padding: 0;    margin: 0;}
html, body {    height: 100%;    width: 100%;		}
#map{height: 100%;    width: 45%;}
.navbar{	margin-bottom:1px;	z-index:9000;}
#myBotoesEsq{	position:fixed ;	
width:30px; /*cada botão é de 30X30*/	
height:32px; /*2px de espaco*/	left:12px;	top:150px;	
z-index:999;}
#myBotoesEsq>a>img{		width:30px;	    height:30px;}
#btAnalisarViagens{	position:relative ;	
top:-150px;/*Sobe 100px - comportamento do posicionamento relativo*/	
width:300px; left:100px;	height:50px; 	
z-index:999;   }.btn-info{	color: #0a0000;    background-color: #c1d4e6;    
border-color: #46b8da;	top:0px;}.glyphicon{	left:-5px;	}
#btBuscarMotorista{	text-align: center;}
#janelaModal{z-index:9999	}
#sugDest{  
    border: 0px solid #ccc; 
visibility: hidden; }
.leaflet-control-geocoder {
  border-radius: 4px;
  background: white;
  min-width: 26px;
  min-height: 26px;
 visibility: hidden;
}
#appPassageiro{
	position:absolute;
	z-index:1000;
	top:80px;
	right:360px;
	
}
#appMotorista{
	position:absolute;
	z-index:1000;
	top:80px;
	right:10px;
}
.tituloApp{
	background-color: white;
}

.fotoMotorista{
    	width:40px;	    height:50px; margin-bottom:20px;
}